
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Metro, a sleek, intuitive, and powerful framework for faster and easier web development for Windows Metro Style.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, metro, front-end, frontend, web development">
    <meta name="author" content="Sergey Pimenov and Metro UI CSS contributors">
    <meta name="google-signin-client_id" content="245065237167-uqdollohtrsrclnkk71lpiid2s7jh2bc.apps.googleusercontent.com">

    <link rel='shortcut icon' type='image/x-icon' href='../favicon.ico' />

    <title>Login form :: Metro UI CSS - The front-end framework for developing projects on the web in Windows Metro Style</title>

    <link href="~/Content/metro/css/metro2.css" rel="stylesheet">
    <link href="~/Content/metro/css/metro-icons2.css" rel="stylesheet">
    <link href="~/Content/metro/css/metro-responsive.css" rel="stylesheet" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Content/metro/js/metro2.js"></script>
    
    <style>
        .login-form {
            width: 25rem;
            position: fixed;
            top: 50%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>

    <script>

        $(function(){
            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        });
    </script>
    <script>
window.fbAsyncInit = function() {
    // FB JavaScript SDK configuration and setup
    FB.init({
        appId: '651919791889295', // FB App ID
      cookie     : true,  // enable cookies to allow the server to access the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    // Check whether the user already logged in
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            //display user data
            getFbUserData();
        }
    });
};

// Load the JavaScript SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// Facebook login with JavaScript SDK
function fbLogin() {
    FB.login(function (response) {
        if (response.authResponse) {
            // Get and display the user profile data
            getFbUserData();
        } else {
            document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
        }
    }, {scope: 'email'});
}

// Fetch the user profile data from facebook
function getFbUserData(){
    FB.api('/me', {locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture'},
    function (response) {
        document.getElementById('fbLink').setAttribute("onclick","fbLogout()");
        document.getElementById('fbLink').innerHTML = 'Logout from Facebook';
        document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
        document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> '+response.id+'</p><p><b>Name:</b> '+response.first_name+' '+response.last_name+'</p><p><b>Email:</b> '+response.email+'</p><p><b>Gender:</b> '+response.gender+'</p><p><b>Locale:</b> '+response.locale+'</p><p><b>Picture:</b> <img src="'+response.picture.data.url+'"/></p><p><b>FB Profile:</b> <a target="_blank" href="'+response.link+'">click to view profile</a></p>';
    });
}

// Logout from facebook
function fbLogout() {
    FB.logout(function() {
        document.getElementById('fbLink').setAttribute("onclick","fbLogin()");
        document.getElementById('fbLink').innerHTML = '<img src="fblogin.png"/>';
        document.getElementById('userData').innerHTML = '';
        document.getElementById('status').innerHTML = 'You have successfully logout from Facebook.';
    });
}
    </script>
</head>
<body class="bg-darkTeal">
    <div class="login-form padding20 block-shadow">
        <div style="display:inline" id="loginDiv">
            <form method="post" action="/Home/Login">
                <h1 class="text-light">Login</h1>
                <hr class="thin" />
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <!--
                    <button onclick="fbLogin()" id="fbLink">Facebook</button>
    
                -->
                
                <hr class="thin" />
                <br />
                <div class="input-control text full-size" data-role="input">
                    <label for="user_login">User email:</label>
                    <input type="text" name="Email" id="email">
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>

                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <label for="user_password">User password:</label>
                    <input type="password" name="Password" id="password">
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>

                </div>
                <br />
                <br />
                

                <div class="form-actions">
                    <button type="submit" class="button primary">Login</button>
                    <button type="button" id="sb" class="button link naviBtn">Create new account</button>
                </div>
            </form>
        </div>
        <div id="signupDiv" style="display:none">
            <form method="post" action="/Home/Signup">
                <h1 class="text-light">Create new account</h1>
                <hr class="thin" />
                <br />
                <div class="input-control text full-size" data-role="input">
                    <label for="user_login">First Name:</label>
                    <input type="text" name="FirstName" id="firstName">
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>

                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <label for="user_password">Last Name:</label>
                    <input type="text" name="LastName" id="lastName">
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>

                </div>
                <br />
                <br />
                <br />
                <div class="input-control text full-size" data-role="input">
                    <label for="user_login">Mobile:</label>
                    <input type="text" name="Mobile" id="mobile">
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>

                </div>
                <br />
                <br />
                <div class="input-control text full-size" data-role="input">
                    <label for="user_login">Email:</label>
                    <input type="text" name="Email" id="email">
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>

                </div>
                <br />
                <br />
                <div class="input-control password full-size" data-role="input">
                    <label for="user_password">Password:</label>
                    <input type="password" name="Password" id="password">
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>

                </div>
                <br />
                <br />
                <!--
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <br/>
        <br/>
        -->

                <div class="form-actions">
                    <button type="submit" class="button primary">Sign up</button>
                    <button type="button" class="button link naviBtn" id="lb">back to login!</button>
                </div>
            </form>
        </div>
        
    </div>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            window.location = '/Home/Index/username=' + profile.getName();
        }
        function getFbUserData() {
            FB.api('/me', { locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture' },
            function (response) {
                document.getElementById('fbLink').setAttribute("onclick", "fbLogout()");
                document.getElementById('fbLink').innerHTML = 'Logout from Facebook';
                document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
                document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> ' + response.id + '</p><p><b>Name:</b> ' + response.first_name + ' ' + response.last_name + '</p><p><b>Email:</b> ' + response.email + '</p><p><b>Gender:</b> ' + response.gender + '</p><p><b>Locale:</b> ' + response.locale + '</p><p><b>Picture:</b> <img src="' + response.picture.data.url + '"/></p><p><b>FB Profile:</b> <a target="_blank" href="' + response.link + '">click to view profile</a></p>';

                // Save user data
                saveUserData(response);
            });
        }
        $(".naviBtn").on('click', function () {
            if ($(this).attr("id") == "lb") {
                $("#signupDiv").attr("style", "display:none");
                $("#loginDiv").attr("style", "display:inline");
            } else if ($(this).attr("id") == "sb") {
                $("#loginDiv").attr("style", "display:none");
                $("#signupDiv").attr("style", "display:inline");
            }
        })
    </script>
</body>
</html>