
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Job</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>

</body>
</html>
